html {
	background-color: rgb(235, 235, 235);
}

body {
	max-width: 1400px;
	margin: 0 auto;
}

#logo {
	font-family: 'Pacifico', cursive;
}

.nav-link-active:hover {
	text-decoration: none;
}

#welcome {
	background-image: url(../img/background.jpeg);
}

#stack img{
	max-width: 64px;
}

iframe {
	display: flex;
	margin: 0 auto;
}

@media only screen and (min-width: 1400px) {
	body {
	  border: 1px solid rgba(56, 56, 56, 0.815);
	}
  }